.navbar {
  background-color: var(--nav-bg);
  padding: 16px 0;
  position: fixed;
  width: 100%;
  
  top: 0;
  z-index: 1000;
}


.navbar-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.logo span {
  color: skyblue;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: var(--accent-color);
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: var(--accent-color);
}

/* .theme-toggle {
  background: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
}
.theme-toggle:hover {
  color: var(--accent-color);
}
.theme-toggle:focus {
  outline: none;
}
.theme-toggle {
  transition: color 0.3s ease;
} */
 